# Ignores configuration files that may contain sensitive information.
build.properties

# Ignores compiled binary files.
*.ex?
*.o
*.out
*.wasm

# Ignores post-build directories.
node_modules/

# Ignores post-build files.
*.html
*.js

# Ignores log files.
*.log

# Ignores Finder metadata files on Mac
.DS_Store
