# Ignores configuration files that may contain sensitive information.
build.properties

# Ignores compiled binary files.
*.ex?
*.o
*.out
*.wasm

# Ignores post-build directories.
CMakeFiles/
node_modules/

# Ignores post-build files.
*.cmake

# Ignores log files.
*.log

# Ignores Finder metadata files on Mac
.DS_Store

# Ignores IDE folders/files.
.idea
.vs
/Release
/Debug
*.iml
*.sln
*.vcxproj*
/src/out
